body {
    font-family: Arial, Helvetica, sans-serif;
}

form {
    margin-top: 10%;
    width: 30%;
}

h1 {
    margin-bottom: 10%;
}

input {
    margin-bottom: 30px;
    
}

button {
    width: 50%;
    margin-top: 10%;
    margin-bottom: 10%;
}

button:hover{
    width: 55%;
    transition: 0.2s;
}

a {
    color: rgb(40,167,69);
}

a:hover {
    color: rgb(36, 189, 71);
    transition: 0.2s;
    text-decoration: none;
}

img {
    float: right;
}