<section>
    <div class="about" align="center">
        <h1 id="main_title">Konference</h1>
    </div>

    <div class="container">
      <div class="left_container">
          <img src="../web_semestralka/pictures/palm.jpg" width="100%" height="auto">
      </div>

      <div class="right_container">
          <div class="right_container_text">
            <h1>
              O konferenci
            </h1>
            
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. 
              Assumenda debitis eveniet nisi! Ipsum molestias dolorum 
              recusandae eos laboriosam exercitationem praesentium odit 
              deserunt culpa facilis accusamus ab nulla qui deleniti vel 
              dolorem, aspernatur quaerat doloribus enim consequatur cum 
              voluptate accusantium nesciunt! Rerum, provident laboriosam! 
              Molestiae consectetur ut, necessitatibus cumque numquam quisquam?
            </p>
          </div>
      </div>
    </div>

    <div class="articles">
      <h1 id="acrticles_title">Články</h1>
    </div>    
  </section>